.homeHeaderPhoto {
	background-image: url("../img/home-bg.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 25%;
}

.aboutHeaderPhoto {
	background-image: url("../img/about.jpg");
	background-size: cover;
	background-position: center;
	height: 450px;
}

.aboutHeaderTextCenter {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	margin-top: 200px;
}

.aboutTextColor {
	color: #fff;
}

.aboutUsTextSpace {
	margin-top: 50px;
}

.portfolioHeaderPhoto {
	background-image: url("../img/portfolio.jpg");
	background-size: cover;
	background-position: center;
	height: 450px;
}

.portfolioHeaderTextCenter {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	margin-top: 200px;
}

.portfolioTextColor {
	color: #fff;
}

.portfolioTextSpace {
	margin-top: 50px;
}

.portfolioTextSpace {
	margin-top: 50px;
}

.blogHeaderPhoto {
	background-image: url("../img/blog.jpg");
	background-size: cover;
	background-position: center;
	height: 450px;
}

.blogHeaderTextCenter {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	margin-top: 200px;
}

.blog-img {
	width: 100%;
}

.blogTextSpace {
	margin-top: 30px;
}

.blogHeaderTextColor {
	color: #fff;
}

.contactHeaderPhoto {
	background-image: url("../img/contact.jpg");
	background-size: cover;
	background-position: center;
	height: 450px;
}

.contactHeaderTextCenter {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	margin-top: 150px;
}

.contactTextColor {
	color: #fff;
}

.contactUsTextSpace {
	margin-top: 50px;
}

.methodHeaderPhoto {
	background-image: url("../img/method.jpg");
	background-size: cover;
	background-position: center;
	height: 450px;
}

.methodHeaderTextCenter {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	margin-top: 200px;
}

.methodTextColor {
	color: #fff;
}

.methodTextSpace {
	margin-top: 50px;
}

.sliderHeight {
	height: 300px;
}

.push {
	margin-top: 80px;
}

hr.lineColor {
	border-bottom-color: #f58220;
	border-top-color: #f58220;
	border-right-color: #f58220;
	border-left-color: #f58220;
}

.creativeSquareOneLogo {
	height: 278px;
	width: 553px;
	max-width: 100%;
	height: auto;
	margin-top: 50px;
	margin-bottom: 10%;
}

#siteMapHeader {
	height: 60px;
	background-color: #939598;
}

.navbar-custom .nav li a {
	color: #000;
}

.navbar-custom .navbar-brand {
	color: #000;
}

.headerPadding {
	padding-top: 50px;
}

.centerMap {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	list-style: none;
}

.footerFontSize {
	font-size: 13px;
}

.copyrightCenter {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: #000;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.show {
	display: block;
}

.moveNavLeft {
	margin-right: 5px;
}

.blogSpace {
	margin-bottom: 25px;
}

h3 {
	font-size: 15px;
	font-family: 'lora';
	color: #fff;
	text-align: left;
}

img {
	width: 48%;
}

.carousel-inner {
	background-color: gray;
}

.carousel-caption {
	font-size: 12px;
	right: 10%;
	left: 60%;
	top: 30%;
	bottom: 30%;
	text-align: left;
	text-shadow: #000;
	color: #fff;
	font-family: 'lora';
}

.carousel-indicators {
	font-size: 15px;
	bottom: -1%;
	text-align: center;
	text-shadow: #000;
	font-color: #000;
}

.carousel-indicators .active {
	background-color: orange;
	border-color: gray;
}

.carousel-indicators li {
	background-color: #999;
	background-color: rgba(70,70,70,.25);
}

.button.btn:focus {
	border-width: 0;
}

a.left.carousel-control {
	box-shadow: blue;
}

.carousel.vertical .carousel-inner {
	height: 100%;
}

.carousel.vertical .item {
	-webkit-transition: .6s ease-in-out top;
	-moz-transition: .6s ease-in-out top;
	-ms-transition: .6s ease-in-out top;
	-o-transition: .6s ease-in-out top;
	left: 0;
}

.carousel.vertical .active,.carousel.vertical .next.left,.carousel.vertical .prev.right {
	top: 0;
}

.carousel.vertical .next,.carousel.vertical .active.right {
	top: 100%;
}

.carousel.vertical .prev,.carousel.vertical .active.left {
	top: -100%;
}

p {
	padding: 0;
	margin: 0;
}

.dropdown-content {
	position: fixed;
}

a:hover {
	color: #f5821f;
}

a:focus {
	color: #f5821f;
}

a:hoverSubmit {
	color: #000;
}

.btn-default:hover {
	background-color: #f5821f;
	border-color: gray;
}

.btn-default:focus {
	background-color: gray;
	border-color: gray;
}

.btn-default:after {
	background-color: red;
	border-color: gray;
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover {
	background-color: #f5821f;
}

.buttonOrange {
	background-color: #f5821f;
}

.navbar-custom .nav li a:focus,.navbar-custom .nav li a:hover {
	color: #58595b;
}

.navbar-custom .navbar-brand:focus,.navbar-custom .navbar-brand:hover {
	color: #58595b;
}

.indexParagraphMargin {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 10%;
	margin-left: 10%;
}

.methodologyParagraphMargin {
	margin: 10%;
}